$dark-color:#39A4B4;
$light-color:#6779C7;
$white-color:#FFFFFF;
$Black-color:#000000;
$btn-color: #564B91;
$color-gray-1 :#F7F7F7;
$color-gray-2 :#777;
$color-gray-3 :#999;
$color-gray-4 : #333;
$secondary-light-1 : #FFb900;
$secondary-light-2 : #FF7730;
$secondary-light-3 : #2998FF;
$secondary-light-4 : #5643fa;
$secondary-light-5 : #ff0000;
$secondary-light-6 : #ce1212;
$radio-group: #4CB2C9;
