.u-center-text {
	text-align: center;
}
.u-margin-small {
	margin-bottom: 1.5rem;
}
.u-margin-small-2 {
	margin-bottom: 2 rem;
}
.u-margin-medium {
	margin-bottom: 5rem;
}
.u-margin-big {
	margin-bottom: 8rem;
}
.u-margin-big-top {
	margin-top: 8rem;
}
.u-margin-huge {
	margin-bottom: 10em;
}